.App {
  margin:1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh 75vh;
  grid-template-areas: "title title" "EventResults EventsMap";
 }
 
 .title { grid-area: title; }
 
 .EventResults { grid-area: EventResults; overflow-y: scroll; }
 
 .EventsMap { grid-area: EventsMap; }


body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  /* border: solid red 1px; */
}

#mapid {
  height: 300px;
}

.leaflet-container {
  height: 400px;
  width: 800px;
}



h1 {
  font-size: 2rem;
  font-weight: normal;
}

.search-box {
  margin-bottom: 2rem;
}

.event-results {
  background-color: #f0f0f0;
  padding: 1rem;
  margin: 0

}

.singleEvent {
  margin: 0;
  border: #DDD solid 1px;
  background-color: white;
  padding: 0 1rem;
  list-style-type: none;
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem 0;
}